<% case talk.state %>
<% when 2 %>

  <%= turbo_frame_tag dom_id(topic, :edit) do %>
    <div class="hover:bg-rose-800 group flex flex-row justify-between">
      <div class="p-6 flex flex-col w-3/4">
        
        <div id="<%= dom_id(topic) %>" class="pb-6 group-hover:text-white">
          <%= topic.content %>
        </div>
        
        <div>
          <%= topic_seperator(*seperator_types.sample) %>
        </div>

      </div>
      <div class="group-hover:flex hidden flex-row items-center relative gap-2 text-white w-1/4 justify-end -right-60 pl-4">

          <%= link_to edit_talk_topic_path(talk, topic), class: "bg-rose-800 flex h-full w-full items-center justify-center my-shadow-lg", data: { turbo_frame: dom_id(topic, :edit) } do %>
          <p class="uppercase font-semibold">edit</p>
          <% end %>

          <%= button_to "delete", talk_topic_path(talk, topic), method: :delete, class: "font-semibold uppercase", form_class: "bg-rose-800 flex h-full w-full justify-center my-shadow-lg" %>
      </div>
    </div>
  <% end %>


<% when 3 %>

  <%= button_to talk_topic_upvote_path(talk, topic), data: { turbo: false }, id: dom_id(topic), method: :post, class: "w-full bg-white p-6 flex flex-row justify-between" do %>
    <p><%= topic.content %></p>
    <p id="<%= dom_id(topic, :votes_count) %>"><%= topic.votes.size %> </p>
  <% end %>

<% when 4 %>

  <% if topic.current %>

    <div class="bg-green p-4">
      <div class="text-center bg-green text-white italic leading-loose font-semibold px-16 py-32 text-2xl border-8 border-double border-white">
        <%= topic.content %>
      </div>
    </div>

    <div class="flex flex-row gap-2 justify-between">
      <%= button_to talk_update_current_topic_path(talk), params: { direction: "back"}, data: { turbo: false, facilitator_target: "Facilitator" }, class: "hidden" do |form| %>
        <span class="material-icons">west</span>
      <% end %>
      <p>Topic <%= topic_counter + 1 %> of <%= topics.size %></p>
      <%= button_to talk_update_current_topic_path(talk), params: { direction: "next" }, data: { turbo: false, facilitator_target: "Facilitator" }, class: "hidden" do |form| %>
        <span class="material-icons">east</span>
      <% end %>
    </div>

  <% end %>

<% when 5 %>

<div id="<%= dom_id(topic) %>" class="w-full bg-white p-6 flex flex-row justify-between">
  <%= topic.content %>
   <span class="material-icons text-green"><%="check_circle" if topic.done?%></span>
</div>

<% end %>
 

