<%= turbo_stream_from "vote_count_stream" %>

<% if talk.state == 3 %>

<%= button_to talk_topic_upvote_path(talk, topic), data: { turbo: false }, id: dom_id(topic), method: :post, class: "w-full bg-white p-6 flex flex-row justify-between" do %>
  <p><%= topic.content %></p>
  <p id="<%= dom_id(topic, :votes_count) %>"><%= topic.votes.size %> </p>
<% end %>

<% elsif talk.state == 2 %>

<div id="<%= dom_id(topic) %>" class="w-full bg-white p-6 flex flex-row justify-between">
  <%= topic.content %>
</div>

<% else %>

<div id="<%= dom_id(topic) %>" class="w-full bg-white p-6 flex flex-row justify-between">
  <%= topic.content %>
   <p id="<%= dom_id(topic, :votes_count) %>"><%= topic.votes.size %> </p>
</div>

<% end %>
 

