<div class="flex-row flex bg-white my-shadow-lg mx-auto py-12 px-16 text-left mt-12"> 
<div class="flex flex-col w-full ">
  <p class="pb-8 text-4xl font-bold uppercase">Let's start with a bit of information!</p>
    <%= form_with model: talk, data: { turbo: false }, class: "flex flex-col gap-8" do |form| %>
    <div>
      <div class="flex flex-row justify-between items-baseline mb-2">
        <%= form.label "Theme", class: "italic text-2xl font-bold leading-none uppercase" %>
        <p class="opacity-50 text-black italic font-semibold">What is the overall theme of this talk?</p>
      </div>
      <%= form.text_field :theme, class: "#{talk&.errors&.include?(:theme) ? "border-2 border-red-700 border-solid " : "border-solid border-2 border-black " }focus:outline-none h-12 italic font-bold px-4 w-full", autocomplete: "off" %>
      <%= render "shared/error_message", attribute: :theme, object: talk %>
    </div>
    <div>
      <div class="flex flex-row justify-between items-baseline mb-2">
        <%= form.label "Your name", class: "italic text-2xl font-bold leading-none uppercase" %>
        <p class="opacity-50 text-black italic font-semibold">Let the participants know who you are</p>
      </div>
      <%= form.text_field :host, class: "#{talk&.errors&.include?(:host) ? "border-2 border-red-700 border-solid " : "border-solid border-2 border-black " }focus:outline-none h-12 italic font-bold px-4 w-full", autocomplete: "off" %>
      <%= render "shared/error_message", attribute: :host, object: talk %>
    </div>
    <div data-controller="duration">
      <div class="flex flex-row justify-between items-baseline mb-2">
        <%= form.label "Time available", class: "italic text-2xl font-bold leading-none uppercase" %>
        <p class="opacity-50 text-black italic font-semibold">How long do you have for the session?</p>
      </div>
      <%= form.select :duration, [ ["15 minutes", 15], ["30 minutes", 30], ["45 minutes", 45], ["60 minutes", 60], ["75 minutes", 75], ["90 minutes", 90] ], {:selected => 60}, data: { action: "duration#showDuration", duration_target: "getSelectedDuration" }, class: "#{talk&.errors&.include?(:duration) ? "border-2 border-red-700 border-solid " : "border-solid border-2 border-black " } w-full focus:outline-none text-lg h-12 italic font-bold px-4" %>
      <%= render "shared/error_message", attribute: :duration, object: talk %>
      <p>You'll have time for ~ <span data-duration-target="showSelectedDuration">6</span> topics</p>
    </div>

</div>

</div>
<div class="mt-8 flex flex-row justify-between">
  <%= link_to root_path do %>
    <div class="hvr-grow active:bg-blurple-gray cursor-pointer my-shadow-lg bg-white text-lg font-bold h-14 w-14">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Chevron_small_left" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path fill="#000" d="M12.141,13.418c0.268,0.271,0.268,0.709,0,0.978c-0.268,0.27-0.701,0.272-0.969,0l-3.83-3.908  c-0.268-0.27-0.268-0.707,0-0.979l3.83-3.908c0.267-0.27,0.701-0.27,0.969,0c0.268,0.271,0.268,0.709,0,0.978L9,10L12.141,13.418z" />
      </svg>
    </div>
  <% end %>
  <%= form.submit submit_text, method: method, class: "h-14 uppercase hvr-grow px-8 my-shadow-lg text-lg font-bold bg-sky-700 text-white active:bg-sky-900 cursor-pointer" %>
</div>
<% end %>