<div id=<%= dom_id(talk) %>>
  <div class="flex flex-row justify-between gap-12 mt-8">
    <div class="w-full" >
      <h1 class="bg-sky-700 text-white text-5xl font-bold p-3 px-2 uppercase">
        <% case talk.state %>
          <% when 1 %>
          <p>Hi <%= talk.host %>!</p>
          <p>Ready to have a great talk about <%= talk.theme %></p>
          <% when 2 %>
          Come up with some topics for the talk!
          <% when 3 %>
          Vote on the topics you think are best
          <% when 4 %>
          Here's a topic to discuss!
          <% when  5 %>
          Here's a recap of what you did
        <% end %>
      </h1>
      <div class="mt-4">
      <% case talk.state %>
        <% when 1 %>
        <%= render "talks/intro", talk: talk %>
        <% when 2 %>
          <%= render "topics/new", talk: talk %>
        <% when 3 %>  
          <%= render "votes/show" %>
        <% when 5 %>  
          <%= render "talks/recap", talk: talk %>
      <% end %>
      </div>
      <%= render "talks/topics", talk: talk, topics: topics %>
    </div>

    <div>
      <%= render "talks/talk", talk: talk %>
    </div>
  </div>
</div>

