<% if talk.state > 1 %>
  <div id="<%= dom_id talk %>" class="text-white flex flex-col items-center w-full lg:w-64 bg-white lg:p-6">
      <div class="flex flex-col text-white font-bold w-full">
        <div class="bg-sky-700 flex items-end justify-around pt-16 pb-4">
          <p class="uppercase italic text-lg w-1/2">Topics</p>
          <p class="text-6xl leading-none"><span id="topics_count"><%= talk.topics.count %></span></p>
        </div>
        <div class="p-4 text-center text-sm bg-sky-700 opacity-50">
          <% if talk.state < 3 %>
            <p>Keep them coming!</p>
          <% end %>
          <% if talk.state == 3 %>
            <p>Time to vote!</p>
          <% end %>
          <% if talk.state == 4 %>
            <p>You're doing great!</p>
          <% end %>
          <% if talk.state == 5 %>
            <p>Well done!</p>
          <% end %>
        </div>
      </div>

    <div data-facilitator-target="Facilitator" class="bg-sky-700 mt-2 w-full hidden">
      <% case talk.state %>
        <% when 2 %>
          <div class="flex flex-row justify-between bg-white w-full">
            <%= render "shared/nav_form", talk: talk, state: 1, text: "Back", class: "font-bold uppercase" %>
            <%= render "shared/nav_form", talk: talk, state: 3, text: "next", class: "font-bold uppercase" %>
          </div>
        <% when 3 %>
          <div class="flex flex-row  justify-between bg-white w-full">
            <%= render "shared/nav_form", talk: talk, state: 2, text: "Back", class: "font-bold uppercase" %>
            <%= render "shared/nav_form", talk: talk, state: 4, text: "next", class: "font-bold uppercase" %>
          </div>
        <% when 4 %>
          <div class="flex flex-row justify-between bg-white w-full">
            <%= render "shared/nav_form", talk: talk, state: 3, text: "Back", class: "font-bold uppercase" %>
            <%= render "shared/nav_form", talk: talk, state: 5, text: "next", class: "font-bold uppercase" %>
          </div>
        <% when 5 %>
          <div class="flex flex-col bg-white gap-8">
            <%= render "shared/nav_form", talk: talk, state: 4, text: "Back", class: "font-bold uppercase" %>
            <%= link_to "Create new talk", new_talk_path, data: { turbo: false }, class: "transition duration-200 ease-in-out transform hover:bg-emerald-500 active:bg-emerald-600 bg-emerald-400 uppercase text-lg font-medium py-2 text-center bg-sky-700" %>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
