<div id="<%= dom_id talk %>" class="bg-sky-800 text-white p-2">
  <p>
    <strong>Host:</strong>
    <%= talk.host %>
  </p>

  <div>
    <p>Topics created:</p>
    <span id="topics_count"><%= talk.topics.count %></span>
  </div>

  <p>
    <strong>Duration:</strong>
    <%= talk.duration %>
  </p>
  <p>
    <strong>State:</strong>
    <%= talk.state %>
  </p>

  <% if talk.state == 1 %>
    <%= render "shared/nav_form", talk: talk, state: 2, text: "Go to voting" %>
  <% elsif talk.state == 2 %>
    <%= render "shared/nav_form", talk: talk, state: 3, text: "Go to talking" %>
  <% elsif talk.state == 3 %>
   <%= render "shared/nav_form", talk: talk, state: 4, text: "Go to recap" %>
  <% end %>
</div>
