<div id="<%= dom_id talk %>" class="bg-sky-800 text-white p-2">
  <p>
    <strong>Host:</strong>
    <%= talk.host %>
  </p>

  <div>
    <p>Topics created:</p>
    <span id="topics_count"><%= talk.topics.count %></span>
  </div>

  <p>
    <strong>Duration:</strong>
    <%= talk.duration %>
  </p>
  <p>
    <strong>State:</strong>
    <%= talk.state %>
  </p>

  <% if talk.state == 1 %>
  <%= button_to "Go to voting", talk_change_state_path(talk, state: 2) %>
  <% elsif talk.state == 2 %>
  <%= button_to "Go to talking", talk_change_state_path(talk, state: 3) %>
  <% elsif talk.state == 3 %>
  <%= button_to "Go to recap", talk_change_state_path(talk, state: 4) %>
  <% else %>
  <% end %>
</div>
