<%= turbo_stream_from "topics_stream" %>
<%= turbo_stream_from "participants_stream" %>
<%= turbo_stream_from "topic_count_stream" %>
<%= turbo_stream_from "state_stream" %>
<%= turbo_stream_from "vote_count_stream" %>

<%= render "shared/dev_nav" if Rails.env.development? %>
<div id=<%= dom_id(@talk) %>>
  <%= render "talks/partial_show", talk: @talk, topics: @topics, participants: @participants %>
</div>
