<!DOCTYPE html>
<html>
  <head>
    <title>Talker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body class="bg-orange-100 font-mono">
    <div class="flex-col mx-auto lg:max-w-screen-xl">
      <%= yield %>
    </div>
    <%= render partial: "shared/flash" %>
  </body>
</html>
